extend ../layouts/common.pug
block content
    h1 Users
    .d-flex.align-items-center
        a.btn.btn-primary(href="/users/create") new
        form.ml-auto(action="/users/seach", method="GET")
            input(name="q",type="text",value=body?body:'')
            button(class="btn btn-primary") Seach
    table.table
        tr
            th Name
            th Phone Number
            th Action
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/" +user.id) View
                    a.btn.btn-danger(href="/users/delete/"+user.id ) Delete
